extends layout

block content
  main(role="main")
    section#projects
      h2.h4.caps= "Projects & Experiments"
      hr
      ul
        for project in contentful.projects
          li
            h3.h2.mb0
              a(href=project.link, target="_blank")=project.title
                svg.icon.mr05(viewBox="0 0 32 32", fill="none", stroke="currentcolor", stroke-linecap="round", stroke-linejoin="round", stroke-width="10.9375%")
                  path(d="M14 9 L3 9 3 29 23 29 23 18 M18 4 L28 4 28 14 M28 4 L14 18")
            p.mt0 
            != marked(project.description)
    section#home
      h2= "Oddoye David is a web developer from Accra, Ghana. Proficient in HTML/CSS, Node JS, Angualar 1.x, Ionic 1.x."
      hr
      ul
        li
          a.h3(href="https://twitter.com/theRealBraZee", target="_blank", title="Twitter")= "twitter"
        li
          a.h3(href="https://github.com/oddoye-david", target="_blank", title="Github")= "github"